:root {
	--bulma-scheme-main: #F1F6FD;
	--bulma-title-color: #1D1D1B;
	--smartycar-secondary-color: #24366C;
	--smartycar-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-scheme-main: #1D1D1B;
    --bulma-title-color: #FFFFFF;
    --smartycar-secondary-color: #FFFFFF;
    --smartycar-white: #1D1D1B;
    --bulma-card-background-color: red;
  }
}

body {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 24px;
	background-color: #F1F6FD;
	background-color: var(--bulma-scheme-main);
}
.header {
	margin-bottom: 24px;
}
.header svg {
	max-width: 160px;
}
.header svg .cls-2 {
	fill: var(--smartycar-secondary-color);
}
.header-date {
	color: var(--smartycar-secondary-color);
	font-weight: 700;
}
.header-date i {
	position: relative;
    top: 2px;
    margin-right: 8px;
}

.card {
	text-align: center;
	padding: 24px;
}
.card.accent {
	background-color: #1D73D8;
	
}
.card.accent .title,
.card.accent .subtitle,
.card.accent .value {
	color: #FFFFFF !important;
}
.card .title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}
.card .subtitle {
	font-size: 14px;
	text-transform: uppercase;
	color: #868E96;
	margin-bottom: 0;
}
.card .value {
	font-size: 48px;
	font-weight: 700;
	color: #1D73D8;
}
.success {
	color: #51CF66;
}

#display-time {
	background-color: var(--smartycar-secondary-color);
	color: var(--smartycar-white);
	display: inline-block;
	position: absolute;
	bottom: 24px;
	right: 24px;
	padding: 8px 16px;
    font-size: 20px;
    border-radius: 32px;
}